---
import Image from 'astro/components/Image.astro';
import type { ImageFunction } from 'astro:content';

export interface ProjectCardProps {
  companyName: string;
  projectImage: ImageMetadata;
  companyUrl: string;
}

interface Props extends ProjectCardProps {}

const { companyName, companyUrl, projectImage } = Astro.props;
---

<article class="project-card">
  <div class="project-card__header">
    <p class="project-card__title">{companyName}</p>
    <a href={companyUrl} target="_blank" rel="noopener" aria-label={`Visit ${companyName} website`}>
      <div class="project-card__button">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          data-astro-cid-jcvh2fgv=""
        >
          <path
            d="M18 13V19C18 19.5304 17.7893 20.0391 17.4142 20.4142C17.0391 20.7893 16.5304 21 16 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V8C3 7.46957 3.21071 6.96086 3.58579 6.58579C3.96086 6.21071 4.46957 6 5 6H11"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            data-astro-cid-jcvh2fgv=""></path>
          <path
            d="M15 3H21V9"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            data-astro-cid-jcvh2fgv=""></path>
          <path
            d="M10 14L21 3"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            data-astro-cid-jcvh2fgv=""></path>
        </svg>
      </div>
    </a>
  </div>
  <div class="project-card__images">
    <Image src={projectImage} width={900} height={420} alt={companyName} />
    <!-- <img src={projectImage} alt="" /> -->
  </div>
</article>

<style>
  .project-card {
    border-radius: 1rem;
    max-width: 900px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: auto;
    background-color: #212121;
    color: white;
    .project-card__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      .project-card__title {
        font-size: 32px;

        font-weight: bold;
      }

      .project-card__button {
        border: 1px solid white;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px;
        border-radius: 4px;
        svg {
          color: white;
          width: 18px;
        }
      }
    }

    .project-card__images {
      height: 26rem;
      img {
        object-fit: cover;
        object-position: top;
        height: 100%;
        width: 100%;
      }
    }
  }
</style>
